.map{
    
    height: calc(100vh + 86px);
    /*position: relative;*/
    /*z-index: 1000;*/
}

.map-overlay-comp-wrap{
    padding: 29px 23px 15px;
    background: #fff;
    
    min-width: 372px;
    box-shadow:  0px 2px 15px 0px rgba(0, 0, 0, 0.25);
   
   
}
.map .gm-style-iw.gm-style-iw-c button.gm-ui-hover-effect {
    position: absolute;
    left: calc(100% - 45px);
    top: 9px !important;
    bottom: auto;
}
.map-overlay-comp-wrap a.close-btn {
    position: absolute;
    right: 23px;
    top: 16px;
}
.map-overlay-comp-wrap:after{
    content: '';
    display: inline-block;
    border: 10px solid;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    border-color: #fff transparent transparent transparent;
}
.map-overlay-comp-wrap p{
    font-family: ITCFranklinGothicStd-Book;
    font-size: 15px;
    font-weight: 300;
    height: 22px;
    letter-spacing: 0.5px;
    line-height: 22px;
    margin-bottom: 6px;
}
.map-overlay-comp-wrap .cs-overlay-heading{
    font-family: ITCFranklinGothicStd-DmCd;
    font-size: 21px;
    height: 23px;
    letter-spacing: 0.5px;
    line-height: 23px;
    margin-bottom: 3px;
}
.map-overlay-comp-wrap .tel-time-wrap {
    margin: 0 0 15px;
}
.map-overlay-comp-wrap .tel-time-wrap .icon-row{
    display: inline-block;
    padding-left: 0;
    padding-right: 35px;
}
.map-overlay-comp-wrap .tel-time-wrap span{
    font-family: ITCFranklinGothicStd-Med;
    font-size: 13px;
    height: 22px;
    letter-spacing: 0.5px;
    line-height: 22px;
    display: inline-block;
}
.map-overlay-comp-wrap .tel-time-wrap img{
    height: 18px;
    width: 18px;
    display: inline-block;
}
.map-overlay-comp-wrap .tel-time-wrap .icon{
    display: inline-block;
}

.map-overlay-comp-wrap .tel-time-wrap .text-tel{
    display: inline-block;
    padding-left: 11px;
}
.map-overlay-comp-wrap .bottom-text-wrap p{
    color: rgb(102, 102, 102);
    font-family: ITCFranklinGothicStd-Med;
    font-size: 13px;
    height: 22px;
    letter-spacing: 0.5px;
    line-height: 22px;
    display: inline-block;
}
.map-overlay-comp-wrap .bottom-text-wrap a{
    color: rgb(230, 47, 70);
    font-family: ITCFranklinGothicStd-Med;
    font-size: 15px;
    height: 22px;
    letter-spacing: 0px;
    line-height: 22px;
    display: inline-block;
    float: right;
    position: relative;
    min-width: 83px;
    padding-right: 15px;
}
.map-overlay-comp-wrap .bottom-text-wrap a:after{
    content: '>';
    position: absolute;
    right: 0;
    top: 1px;
}
@media (max-width: 767px) {
    .map-overlay-comp-wrap{
        min-width: 328px;
        max-width: 328px;
    }
}

@media (max-width: 374px) {
    .map-overlay-comp-wrap{
        max-width: 320px;
    }

}