.speak-to-us-section {
    background-image: url(../img/Create_another_fleet_route-Map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 850px;
    padding: 137.5px 20px;
    position: relative;
}
.speak-to-us-section:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgb(19, 20, 36);
    opacity: 0.4;
}
.speak-to-us-section .page-center {
    position: relative;
    z-index: 1;
}
/**/
.speakToUs-form-wrap {
    background: rgb(255, 255, 255);
    width: 100%;
    max-width: 1245px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 15px;
    position: relative;
}
.speak-to-us-form-group {
    width: 100%;
    max-width: 1035px;
    margin-left: auto;
    margin-right: auto;
}
.speakToUs-close-icon {
    display: block;
    position: absolute;
    top: 25px;
    right: 27px;
    cursor: pointer;
}
.speak-to-us-form-group h3 {
    color: rgb(230, 47, 70);
    font-size: 39px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: dmcd;
    letter-spacing: 0.5px;
    line-height: 39px;
    text-align: center;
    margin: 0 0 40px;
}
.speak-to-us-form-group h6 {
    color: rgb(25, 81, 108);
    font-size: 20px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: dmcd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 22px;
    margin: 0 0 15px;
    text-align: center;
}
.speakToUs-fieldset {
    border: 0 none;
    padding: 0;
    margin: 0 0 5px;
}
.speakToUs-form-field {
    padding: 0 10px;
    margin: 0 0 25px;
}
.speakToUs-form-field > label {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 22px;
    display: block;
    margin: 0 0 10px;
}
.speakToUs-form-input.speakToUs-form-input {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    height: 60px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 0px;
    box-sizing: border-box;
    font-family: ITCFranklinGothicStd-Book;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 22px;
    padding: 10px 20px;
}
.speakToUs-form-field input[type="checkbox"] {
    border: 1px solid rgb(204, 204, 204);
    height: 22px;
    width: 22px;
    -webkit-appearance: checkbox;
    display: inline-block !important;
    vertical-align: top;
    margin: 0 0 10px;
    margin-right: 10px;
    float: left;
}
.speakToUs-form-field.checkbox-form-field > label {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: ITCFranklinGothicStd-Book;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 22px;
    text-transform: none;
}
.speakToUs-form-btn {
    color: #fff;
    font-size: 15px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: dmcd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.speakToUs-btn-group {
    text-align: center;
    padding: 0 10px;
}

.speakToUs-fieldset-2col:after {
    content: "";
    display: table;
    clear: both;
}
.speakToUs-fieldset-2col .speakToUs-form-field {
    width: 50%;
    float: left;
}





@media (min-width: 768px) {

    .show-in-mobile {
        display: none !important;
    }

}

@media (max-width: 767px) {

    .hide-in-mobile {
        display: none !important;
    }
    .speak-to-us-section {
        padding: 0;
        margin: 0;
        min-height: auto;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .speakToUs-form-field {
        width: 100% !important;
        display: block !important;
        float: none !important;
        padding: 0;
    }
    .speakToUs-form-field.checkbox-form-field > label:after {
        content: "";
        display: table;
        clear: both;
    }
    .speakToUs-form-field input[type="checkbox"] {
        float: left;
        margin-bottom: 0;
    }
    .speakToUs-form-field.checkbox-form-field > label > span {
        display: block;
        float: left;
        width: calc(100% - 32px);
    }
    .speakToUs-form-wrap {
        padding: 70px 25px;
        padding-top: 100px;
    }
    .speak-to-us-form-group h3 {
        text-align: left;
    }
    .speakToUs-form-btn {
        display: block;
        width: 100%;
        max-width: 329px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 479px) {



}
