.create-another-fleet-route-section {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 15px;
}
.dark-layor .create-another-fleet-route-section:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgb(19, 20, 36);
    opacity: 0.4;
}
.create-another-fleet-route-section .page-center {
    position: relative;
    z-index: 1;
    max-width: 1165px;
    padding-top: 97px;
    padding-bottom: 100px;
}
.journeyPlanner-popup-container {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    padding: 45px 0;
}
.journeyPlanner-close-icon {
    display: block;
    position: absolute;
    top: 25px;
    right: 27px;
    cursor: pointer;
}
.journeyPlanner-col {
    padding: 1px 35px;
    width: 50%;
    float: left;
    position: relative;
}
.journeyPlanner-col.left-col {
    width: 44%;
    padding-bottom: 60px;
}
.journeyPlanner-col.left-col:after {
    content: "";
    width: 1px;
    height: 100%;
    background: rgb(240, 240, 240);
    position: absolute;
    top: 1px;
    right: 8px;
}
.journeyPlanner-col.right-col {
    width: 56%;
}
.journeyPlanner-col h3 {
    color: rgb(230, 47, 70);
    font-size: 39px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: dmcd;
    letter-spacing: 0.5px;
    line-height: 39px;
}
.journey-list-items-group {
    padding: 0 18px 0 10px;
    margin: 0 0 10px;
}
.journey-list-item {
    padding: 0 12px 17px;
    border-bottom: 1px solid rgb(240, 240, 240);
}
.journey-series {
    width: 25px;
    color: rgb(25, 81, 108);
    font-size: 28px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 30px;
    float: left;
}
.journey-points {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: ITCFranklinGothicStd-Book;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 22px;
    float: left;
    width: calc(100% - 100px);
    padding: 4px 0;
    text-align: center;
}
.journey-points > span {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}
.journey-edit-remove {
    width: 70px;
    float: left;
    padding: 6px 0;
}
.journey-edit-remove > span {
    display: inline-block;
    vertical-align: top;
    padding: 0 7px;
    cursor: pointer;
}
.journeyPlanner-form fieldset {
    border: 0 none;
    padding: 0;
    margin: 0 0 23px;
}
.create-route-fieldset h3 {
    margin: 0 0 23px;
}
.journeyPlanner-form-field {
    margin: 0 0 26px;
    padding: 0;
}
.journeyPlanner-form-field > label {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 22px;
    display: block;
    margin: 0 0 10px;
}
.journeyPlanner-form-field .jp-form-input {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 57px;
    height: 57px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 0px;
    box-sizing: border-box;
    font-family: ITCFranklinGothicStd-Book;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 22px;
    padding: 5px 20px;
}
.journeyPlanner-form-field .jp-form-input:after {
    display: none;
}
.journeyPlanner-form fieldset.route-details-fieldset {
    margin-bottom: 8px;
    margin-bottom: 17px;
}
.route-details-fieldset h3 {
    margin-bottom: 16px;
    margin-bottom: 10px;
}
.route-details-fieldset .journeyPlanner-form-field {
    margin-bottom: 19px;
    margin-bottom: 10px;
}
.journeyPlanner-form-field p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: dmcd;
    letter-spacing: 0.5px;
    line-height: 38px;
    text-align: left;
}
.route-details-fieldset .journeyPlanner-form-field p > *:after {
    display: none;
}
.route-details-fieldset .journeyPlanner-form-field p select, 
.route-details-fieldset .journeyPlanner-form-field input[type="text"] {
    width: auto;
    max-width: inherit;
    display: inline-block;
    min-width: auto;
    vertical-align: top;
    clear: none;
    font-family: ITCFranklinGothicStd-DmCd;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 22px;
}
.route-details-fieldset .journeyPlanner-form-field p select {
    border: 0 none;
    border-bottom: 2px dotted rgb(102, 102, 102);
    background-color: transparent;
    margin: 0 3px;
    padding: 2px 20px;
    text-align: center;
    width: 103px;
    -webkit-appearance: none;
    background-image: url('./../../img/icons_select_arrow@1x.svg');
    background-repeat: no-repeat;
    background-position: right center;
}
.route-details-fieldset .journeyPlanner-form-field input[type="text"] {
    border: 0 none;
    border-bottom: 2px dotted rgb(102, 102, 102);
    background-color: transparent;
    padding: 3px 10px;
    margin: 0 5px;
    width: 94px;
    background-image: url('./../../img/icons_right_arrow@1x.svg');
    background-repeat: no-repeat;
    background-position: 100% center;
}
.journeyPlanner-form .add-journeyRoute-btn {
    background-color: transparent !important;
    padding: 9px 0 !important;
    margin: 0 !important;
    color: rgb(230, 47, 70);
    font-size: 21px !important;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: bold !important;
    letter-spacing: 0.5px;
    line-height: 23px !important;
    padding-left: 60px !important;
    background-image: url('./../../img/btns_carousel-arrow.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 40px 40px !important;
    background-position: 4px center !important;
    text-transform: none !important;
    float: right;
}
.journeyPlanner-col .journey-see-routes-btn {
    background: rgb(230, 47, 70);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: dmcd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: absolute;
    top: auto;
    bottom: 20px;
    right: 51px;
    padding: 16px 42px;
}

.create-another-fleet-route-section .full-height{
    min-height: 100vh;
}








@media (max-width: 1024px) and (min-width: 768px) {

	.create-another-fleet-route-section .page-center {
	    padding-top: 6%;
	    padding-bottom: 8%;
	}
	.journeyPlanner-popup-container {
	    padding: 50px 0 20px;
	}
	.journeyPlanner-col {
	    padding: 1px 20px;
	}

}

@media (max-width: 1000px) and (min-width: 768px) {

	.journey-list-items-group {
	    padding: 0 10px;
	    margin: 0 0 10px;
	}
	.journey-start-point, 
	.journey-end-point {
	    display: block !important;
	}

}


@media (max-width: 767px) {

    .create-another-fleet-route-section .page-center {
        padding: 0;
    }
    .create-another-fleet-route-section {
        padding: 0;
    }
	.journeyPlanner-col {
	    float: none !important;
	    width: 100% !important;
	    display: block !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
	}
	.journeyPlanner-col.left-col:after {
		display: none;
	}
	.journeyPlanner-col.left-col {
	    padding-bottom: 20px;
	}
	.journeyPlanner-col.right-col {
	    margin-top: 50px;
	}
	.journeyPlanner-form .add-journeyRoute-btn {
	    display: block !important;
	    position: static !important;
        margin-top: 30px !important;
        margin-left: auto !important;
        margin-right: auto !important;
	    width: 100% !important;
	    max-width: 195px !important;
	    float: none !important;
	}
    .journey-points {
        text-align: left;
    }
    .journeyPlanner-col .journey-see-routes-btn {
        display: block !important;
        position: static !important;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        max-width: 195px !important;
        float: none !important;
    }

}


@media (max-width: 479px) {

    .journey-points {
        text-align: center;
    }
    .journey-points > span.journey-travel-icon {
        display: block;
    }

}