.thank-you-section {
    background-image: url(../img/Create_another_fleet_route-Map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 850px;
    padding: 137.5px 20px;
    position: relative;
}
.thank-you-section:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgb(19, 20, 36);
    opacity: 0.4;
}
.thank-you-section .page-center {
    position: relative;
    z-index: 1;
}
.thank-you-section h3 {
    color: rgb(25, 81, 108);
    font-size: 39px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: dmcd;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 42px;
    margin: 0 0 20px;
}
.thank-you-section h3:before {
    content: "";
    display: block;
    background-image: url('../img/Fill%2057@1x.svg');
    height: 13px;
    width: 41px;
    margin: 0 auto 13px;
}
.thank-you-section p {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: ITCFranklinGothicStd-Book;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 22px;
    margin: 0 0 25px;
}
.thank-you-container {
    width: 100%;
    height: 100%;
    padding: calc( calc(100vh - 575) / 2) 0;
}
.journey-btn {
    cursor: pointer;
    display: inline-block;
    background: rgb(25, 81, 108);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: dmcd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: 0 none;
    padding: 15.5px 20px;
    margin: 10px 0 0;
}
button.journey-btn.red {
    background: rgb(230, 47, 70);
}
/**/
.thank-you-content-wrap {
    background: rgb(255, 255, 255);
    width: 100%;
    max-width: 615px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 15px;
    position: relative;
}
.journeyPlanner-close-icon {
    display: block;
    position: absolute;
    top: 25px;
    right: 27px;
    cursor: pointer;
}
.thank-you-content-group {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.thank-you-content-group .journey-btns-group {
    text-align: center;
    padding-top: 10px;
}
.thank-you-content-group .journey-btn {
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin: 0 0 30px;
}
.thank-you-content-group ul.print-download-share-list {
    text-align: center;
    margin-top: 20px;
}


/**/
ul.print-download-share-list {
    margin: 0 -15px;
    padding: 0;
    list-style: none !important;
}
ul.print-download-share-list > li {
    display: inline-block;
    vertical-align: top;
    color: rgb(230, 47, 70);
    font-size: 15px;
    font-family: ITCFranklinGothicStd-Med;
    font-weight: med;
    letter-spacing: 0px;
    line-height: 22px;
    padding: 5px 15px;
    border-left: 1px solid rgb(240, 240, 240);
}
ul.print-download-share-list > li:first-child {
    border-left: 0 none;
}
ul.print-download-share-list > li img {
    margin-right: 5px;
}





@media (max-width: 767px) {

    .thank-you-section {
        padding: 0;
        min-height: 0;
    }
    .thank-you-section h3,
    .thank-you-section p {
        text-align: left;
    }
    .thank-you-section h3:before {
        margin-left: 0;
    }
    .thank-you-content-group ul.print-download-share-list {
        text-align: left;
    }
    ul.print-download-share-list {
        margin: 0;
    }
    ul.print-download-share-list > li {
        display: block !important;
        float: none !important;
        margin-bottom: 20px;
        border: 0 none !important;
    }

}