.create-your-fleet-route-section {
    position: relative;
    overflow: hidden;
    background-image: url(../img/Create_another_fleet_route-Map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 15px;
    background-position: center -146px;
    background-size: 1346px;
}
.create-your-fleet-route-section:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgb(19, 20, 36);
    opacity: 0.4;
}
.create-your-fleet-route-section .page-center {
    position: relative;
    z-index: 1;
    max-width: 1165px;
    padding-top: 96px;
    padding-bottom: 100px;
}
.journeyPlanner-popup-container {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    padding: 45px 0;
}
.journeyPlanner-close-icon {
    display: block;
    position: absolute;
    top: 25px;
    right: 27px;
    cursor: pointer;
}
.journeyPlanner-col {
    padding: 1px 39px;
    width: 50%;
    float: left;
    position: relative;
}
.journeyPlanner-col.left-col {
    width: 44%;
    padding-bottom: 60px;
}
.journeyPlanner-col.left-col h3 {
    margin: 0 0 10px;
}
.journeyPlanner-col.left-col:after {
    content: "";
    width: 1px;
    height: 100%;
    background: rgb(240, 240, 240);
    position: absolute;
    top: 1px;
    right: 8px;
}
.journeyPlanner-col.right-col {
    width: 56%;
    padding-left: 32px;
}
.journeyPlanner-col h3 {
    color: rgb(230, 47, 70);
    font-size: 39px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: dmcd;
    letter-spacing: 0.5px;
    line-height: 39px;
}
.journeyPlanner-form fieldset {
    border: 0 none;
    padding: 0;
    margin: 0 0 23px;
}
.create-route-fieldset h3 {
    margin: 0 0 23px;
}
.journeyPlanner-form-field {
    margin: 0 0 26px;
    padding: 0;
}
.journeyPlanner-form-field > label {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 22px;
    display: block;
    margin: 0 0 10px;
}
.journeyPlanner-form-field .jp-form-input {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 57px;
    height: 57px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 0px;
    box-sizing: border-box;
    font-family: ITCFranklinGothicStd-Book;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 22px;
    padding: 5px 20px;
}
.journeyPlanner-form-field .jp-form-input:after {
    display: none;
}
.journeyPlanner-form fieldset.route-details-fieldset {
    margin-bottom: 8px;
    margin-bottom: 21px;
}
.route-details-fieldset h3 {
    margin-bottom: 16px;
    margin-bottom: 8px;
}
.route-details-fieldset .journeyPlanner-form-field {
    margin-bottom: 19px;
    margin-bottom: 6px;    
}
.journeyPlanner-form-field p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: dmcd;
    letter-spacing: 0.5px;
    line-height: 38px;
    text-align: left;
}
.route-details-fieldset .journeyPlanner-form-field p > *:after {
    display: none;
}
.route-details-fieldset .journeyPlanner-form-field p select, 
.route-details-fieldset .journeyPlanner-form-field input[type="text"] {
    width: auto;
    max-width: inherit;
    display: inline-block;
    min-width: auto;
    vertical-align: top;
    clear: none;
    font-family: ITCFranklinGothicStd-DmCd;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 22px;
}
.route-details-fieldset .journeyPlanner-form-field p select {
    border: 0 none;
    border-bottom: 2px dotted rgb(102, 102, 102);
    background-color: transparent;
    margin: 0 3px;
    padding: 10px 20px;
    text-align: center;
    width: 103px;
    -webkit-appearance: none;
    background-image: url('../img/icons_select_arrow@1x.svg');
    background-repeat: no-repeat;
    background-position: right center;
}
.route-details-fieldset .journeyPlanner-form-field input[type="text"] {
    border: 0 none;
    border-bottom: 2px dotted rgb(102, 102, 102);
    background-color: transparent;
    padding: 6px 10px;
    margin: 0 5px;
    width: 94px;
    background-image: url('../img/icons_right_arrow@1x.svg');
    background-repeat: no-repeat;
    background-position: 100% center;
}
.journeyPlanner-form .add-journeyRoute-btn {
    background-color: transparent !important;
    padding: 9px 0 !important;
    margin: 0 !important;
    color: rgb(230, 47, 70);
    font-size: 21px !important;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: bold !important;
    letter-spacing: 0.5px;
    line-height: 23px !important;
    padding-left: 60px !important;
    background-image: url(../img/btns_carousel-arrow.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 40px 40px !important;
    background-position: 4px center !important;
    text-transform: none !important;
    float: right;
}
.journeyPlanner-col .journey-see-routes-btn {
    background: rgb(230, 47, 70);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: dmcd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 51px;
    padding: 16px 30px;
}





/*  Journey Plan List  */
.journey-list-items-group {
    padding: 0 18px 0 10px;
}
.journey-list-item {
    padding: 10px 12px 17px;
    margin: 0;
    border-bottom: 1px solid rgb(240, 240, 240);
}
.journey-list-item.edit-active {
    background: rgb(240, 241, 241);
}
.journey-series {
    width: 25px;
    color: rgb(25, 81, 108);
    font-size: 28px;
    font-family: ITCFranklinGothicStd-DmCd;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 30px;
    float: left;
}
.journey-points {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: ITCFranklinGothicStd-Book;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 22px;
    float: left;
    width: calc(100% - 100px);
    padding: 4px 0;
    text-align: center;
}
.journey-points > span {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}
.journey-edit-remove {
    width: 70px;
    float: left;
    padding: 6px 0;
}
.journey-edit-remove > span {
    display: inline-block;
    vertical-align: top;
    padding: 0 7px;
    cursor: pointer;
}
.journey-edit-remove:after {
    content: "";
    display: table;
    clear: both;
}
.journey-edit-remove .journey-remove {
    float: right;
}













/**/


@media (max-width: 1024px) and (min-width: 768px) {

	.create-your-fleet-route-section .page-center {
	    padding-top: 6%;
	    padding-bottom: 8%;
	}
	.journeyPlanner-popup-container {
	    padding: 50px 0 20px;
	}
	.journeyPlanner-col {
	    padding: 1px 20px;
	}

}

@media (max-width: 1000px) and (min-width: 768px) {

	.journey-list-items-group {
	    padding: 0 10px;
	    margin: 0 0 10px;
	}
	.journey-start-point, 
	.journey-end-point {
	    display: block !important;
	}

}


@media (max-width: 767px) {

    .create-your-fleet-route-section {
        padding: 0;
        min-height: 100vh;
    }
    .create-your-fleet-route-section .page-center {
        padding: 0;
    }
    .journeyPlanner-popup-container {
        padding-top: 80px;
    }
    .create-another-fleet-route-section .page-center {
        padding: 0;
    }
    .journeyPlanner-col {
        float: none !important;
        width: 100% !important;
        display: block !important;
        padding: 0 25px !important;
    }
    .journeyPlanner-col.left-col:after {
        display: none;
    }
    .journeyPlanner-col.left-col {
        padding-bottom: 20px;
    }
    .journeyPlanner-col.right-col {
        margin-top: 70px;
    }
    .journeyPlanner-col .journey-see-routes-btn {
        display: block !important;
        position: static !important;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        max-width: 195px !important;
        float: none !important;
    }
    .journeyPlanner-form .add-journeyRoute-btn {
        float: none;
        width: 150px;
        margin-top: 50px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
    }
    .journey-points {
        text-align: left;
    }

}


@media (max-width: 479px) {

    .journey-points > span.journey-travel-icon {
        display: block;
    }
    
}